{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs-row">
    <a href="{% url 'admin:index' %}">{% trans "Home" %}</a>
    <span class="separator">&rsaquo;</span>
    <span>{{ app_label|capfirst }}</span>
    <span class="separator">&rsaquo;</span>
    <span>{{ title }}</span>
</div>
{% endblock %}

{% block object-tools %}
<div class="object-tools" style="margin-bottom:1rem;">
    <ul>
        <li><a href="{% url 'admin:index' %}" class="back-link"><i class="fas fa-arrow-left"></i> {% trans "Back to Administration" %}</a></li>
        {% if has_add_permission %}
        <li><a href="add/" class="addlink"><i class="fas fa-plus"></i> {% trans "Add" %} {{ opts.verbose_name }}</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}
